
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
}

body{
  overflow-x: hidden;
  }

ul, li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}
